*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.head {
    text-align: center;
    color: white;
    font-size:xx-large ;

}
.body {
    background-image: url('6.jpeg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;

}
.images {
max-width: 100%;
}
nav {
    flex:1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
   margin-right: 20px;
}